<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>multiplex_signup</servlet-name>
        <servlet-class>multiplex_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>multiplex_login</servlet-name>
        <servlet-class>multiplex_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addscreens</servlet-name>
        <servlet-class>addscreens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewscreens</servlet-name>
        <servlet-class>viewscreens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addmovie</servlet-name>
        <servlet-class>addmovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewmultiplex</servlet-name>
        <servlet-class>viewmultiplex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewmovies</servlet-name>
        <servlet-class>viewmovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addshows</servlet-name>
        <servlet-class>addshows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewshows</servlet-name>
        <servlet-class>viewshows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewmoviebyid</servlet-name>
        <servlet-class>viewmoviebyid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewshowbyid</servlet-name>
        <servlet-class>viewshowbyid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewscreenbyid</servlet-name>
        <servlet-class>viewscreenbyid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewscreen</servlet-name>
        <servlet-class>viewscreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_booking</servlet-name>
        <servlet-class>fetch_booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewbooking</servlet-name>
        <servlet-class>viewbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveQR</servlet-name>
        <servlet-class>saveQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookings</servlet-name>
        <servlet-class>bookings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multiplex_signup</servlet-name>
        <url-pattern>/multiplex_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multiplex_login</servlet-name>
        <url-pattern>/multiplex_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addscreens</servlet-name>
        <url-pattern>/addscreens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewscreens</servlet-name>
        <url-pattern>/viewscreens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addmovie</servlet-name>
        <url-pattern>/addmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewmultiplex</servlet-name>
        <url-pattern>/viewmultiplex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewmovies</servlet-name>
        <url-pattern>/viewmovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addshows</servlet-name>
        <url-pattern>/addshows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewshows</servlet-name>
        <url-pattern>/viewshows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewmoviebyid</servlet-name>
        <url-pattern>/viewmoviebyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewshowbyid</servlet-name>
        <url-pattern>/viewshowbyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewscreenbyid</servlet-name>
        <url-pattern>/viewscreenbyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewscreen</servlet-name>
        <url-pattern>/viewscreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_booking</servlet-name>
        <url-pattern>/fetch_booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewbooking</servlet-name>
        <url-pattern>/viewbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveQR</servlet-name>
        <url-pattern>/saveQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookings</servlet-name>
        <url-pattern>/bookings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
